node_modules
.env
.DS_Store
apps/**/node_modules
apps/**/dist
apps/**/.env
apps/**/.env.*
!apps/**/.env.example
!apps/**/.env.production.example
!apps/**/.env.development.example
apps/**/coverage
apps/**/.turbo
apps/**/.vite
VPS_UPDATE.md
